---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.tipue_search_spinner > div {
  background-color: inherit !important;
}

.google-presentation {
  max-width: 100%;
  max-height: auto;
}
