<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    {% include google_analytics.html %}
    {% include rss.html %}
    {% include tipuesearch.html %}
    {% include favicon.html %}
    {% include mathjax.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title }}</h1>

        <!-- Links -->
        <div class="navbar">
          <a href="/">Home</a> &#x25cf;
          <a href="/tools">Tools</a> &#x25cf;
          <a href="/archive">Archive</a>
        </div>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <h3><a href="/tags">Tags</a></h3>

        {% capture tags %}
          {% for tag in site.tags %}
            {{ tag[1].size | plus: 100000 }},{{ tag[0] }},{{ tag[1].size }}
          {% endfor %}
        {% endcapture %}

        {% assign sorted_tags = tags | split: ' ' | sort %}

        {% for tag in sorted_tags reversed limit: 8 %}
          {% assign tag_items = tag | split: ',' %}
          <div><a href='/tags/{{ tag_items[1] }}'>#{{ tag_items[1] }} ({{ tag_items[2] }})</a></div>
        {% endfor %}

        <h3></h3>
        <div><a href="/search">Search</a> &#x25cf; <a href="/disclaimer">Disclaimer</a></div>
        <div>© {{ 'now' | date: "%Y" }} <a href="{{ site.github.owner_url }}">Matt Pewsey</a></div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if layout.comments %}
      <!-- Disquis Footer -->
      <script id="dsq-count-scr" src="//mpewsey-github-io.disqus.com/count.js" async></script>
    {% endif %}
  </body>
</html>
