<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    {% include rss.html %}
    {% include tipuesearch.html %}
    {% include favicon.html %}
    {% include mathjax.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title }}</h1>

        <!-- Links -->
        <p>
          <a href="/">Home</a> &#x25cf;
          <a href="/tools">Tools</a> &#x25cf;
          <a href="/search">Search</a>
        </p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <h3><a href="/tags">Tags</a></h3>
        {% for tag in site.categories limit: 8 %}
          <div><a href='/tags/{{ tag | first }}'>#{{ tag | first }}</a></div>
        {% endfor %}

        <h3></h3>
        <div><a href="/archive">Archive</a> &#x25cf; <a href="/disclaimer">Disclaimer</a></div>
        <div>© {{ 'now' | date: "%Y" }} <a href="{{ site.github.owner_url }}">Matt Pewsey</a></div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
