---
layout: default
comments: true
---

<h1>{{ page.title }}</h1>
<div class="post-date-line"><span class="post-date">{{ page.date | date_to_string }}</span>{% for tag in page.tags %} <a class="post-tag" href='/tags/{{ tag }}'>#{{ tag }}</a>{% endfor %}</div>

{{ content }}

<h2>More Posts</h2>

<ul>
{% if page.previous.url %}
  <li>{{ page.previous.date | date_to_string }} <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
{% endif %}
{% if page.next.url %}
  <li>{{ page.next.date | date_to_string }} <a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
{% endif %}
</ul>

<h2>Comments</h2>

{% include disquis.html %}
